mat-form-field{
  width: 100%;
  margin-top: 16px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content{
  width: 80%;
}
.image-preview{
  height: 80px;
  margin: 16px, 0;
}
.image-preview img{
  height: 100%;
}
